<h2><%= @book.title %></h2>

<% if @book.years.any? %>
  <ul>
    <% @book.years.each do |year| %>
      <li><%= link_to year.year, year_path(year) %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-horizontal">
  <h3>Add another year:</h3>
  <%= form_for @year, :html => {:class => 'form-horizontal-center'} do |f| %>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.label :year %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :year %>
    </div>
  </div>
  <%= f.hidden_field :book_ids, value: @book.id %>
  <div class="form-group">
    <div class="col-md-8">
      <p><%= f.submit :class => 'btn btn-primary btn-sm' %></p>
    </div>
  </div>
  <% end %>
</div>
<% if @book.notes.any? %>
<ul>
  <% @book.notes.each do |note| %>
  <li><%= note.text %></li>
  <% end %>
</ul>
<% else %>
  <div class="form-horizontal">
    <h4>Notes</h4>
    <%= form_for [@book, @note], :html => {:class => 'form-horizontal-center'} do |f| %>
    <div class="form-group">
      <div class="col-md-8">
        <%= f.text_area :text, rows: 10, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <p><%= f.submit 'Add a Note' %></p>
      </div>
    </div>
  </div>
  <% end  %>
<% end %>
