<h2><%= @year.year %> with id: <%= @year.id %></h2>

<% if @year.books.any? %>
  <h4>Here are your books for this year: </h4>
  <ul>
    <% @year.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>Start adding books to this year!</h4>
  <%= form_for @book do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.hidden_field :year_ids, value: @year.id %>
    <p><%= f.submit %></p>
  <% end %>
<% end %>

<p><%= link_to "Add a book", new_book_path %></p>
